.caixa{
    width: 940px;
    margin: 0 auto;
    top: 20px;
    left: 0;
}

#logo{
    border-radius: 50px;
}

body{

    background-color:#E32F6C;
    color:  #DAE9BD;
    text-align: center;
}

h1{
    font-size: 36px;
    color: #2C214D;
    padding-left: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.formulario{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}
strong{
    color:#2C214D;
}

button{
    background:  #DAE9BD;
    border: 1px solid transparent;
    padding: 2px 20px;
    border-radius: 3px;
  }

.copyright{
    color: #DAE9BD;
    font-size: 13px;
    margin: 20px 0px 0 10px;
}