header{
    background: #E32F6C;
    padding: 150px 0;
}

.caixa{
    position: absolute;
    width: 940px;
    margin: 0 auto;
    top: 20px;
    left: 250px;
}

#logo{
    border-radius: 50px;
}

nav{
    position: absolute;
    top: 125px;
    right: 40px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color:#36013F;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color:#9C215F;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #E32F6C;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #2C214D;
}

.produtos li:active{
    border-color:#DAE9BD;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-size:30 px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer{
    text-align: center;
    background: url("img/fundo.jpg");
    padding: 40px 0;
}

.copyright{
    color: #DAE9BD;
    font-size: 13px;
    margin: 20px 0 0;
}