body{
    color: #FFFFFF;
}

#banner{
    width: 100%;
    height: 50%;
}

.principal{
    background: #FF1493;
    padding: 30px;
}

.titulo-principal{
    color: #FF1493;
    padding-left: 20px;
    text-align: center;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong{

    color:#36013F;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #9400D3;
    padding: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15px;
}

.imgb{
    width: 50%;
}